* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  color: #0f141e;
}
#root {
  display: flex;
  justify-content: center;
}
.App {
  width: 800px;
  margin: 0px 20px 0px 20px;
}
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid rgba(82, 74, 168, 0.6);
  border-radius: 5%;
  margin-bottom: 20px;
  p {
    font-size: 18px;
    color: blue;
  }
}
